/*
dark navy: #08112a
light navy: #173179
light blue: #30dfc8
yellow: #f7ea64
orange: #de7449
green: #78F127

Colors inspired by GMK Metropolis V2 
*/
html {
    font-family: input-mono-narrow, SFMono-Regular, Consolas, Menlo, monospace;
    overflow-y: scroll;
}

.main {
    position: relative;
    margin: auto;
    max-width: 650px;
    /* height: 700px; */
    /* border: 3px solid #30dfc8; */
    /* padding: 10px; */
    padding-bottom: 50px;
    overflow: hidden;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

header{
    /* border: 3px solid #30dfc8; */
    margin: auto;
    max-width: 650px;
    height: 30px;
    
    padding: 10px;
    color: #30dfc8;
    font-size: 25px;
}

.border-bottom {
    border-bottom: 2px solid #de7449;
    position: relative;
    top: 100%;
    width: 36%;
    bottom: 0;
}

.footer-wrapper {
    width: 100%;
    margin-top: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
}
footer {
    /* border: 3px solid #30dfc8; */
    margin: auto;
    max-width: 650px;
    height:50px;
    padding: 10px;
}

#footer-links {
    max-width: 250px;
    float: left;
}

#footer-email {
    max-width: 300px;
    float: right;
    text-align: right;
}

#header-links {
    float: right;
    text-align: right;
}


.left-decor-container {
    position: fixed;
    display: inline-block;
    vertical-align: middle;
    /* float: left; */
    left: 20%;
    height: 100%;
    width: 100px;
    top: 0;
}

.right-decor-container {
    position: fixed;
    display: inline-block;
    vertical-align: middle;
    /* float: left; */
    right: 20%;
    height: 100%;
    width: 100px;
    top: 0;
}



.cont-aboutMe {
    /* border: 3px solid #59e5d3; */
    margin: auto;
}

/* .float-container {
    /* border: 3px solid #fff; */

.float-child {
    width: 50%;
    float: left;
    
    /* border: 2px solid red; */
}  
.float-left {
    float: left;
}
.float-right {
    float: right;
    margin-top: 25px;
}


/* projects.html */
.accordion {
    background-color: #08112a;
    color: #173179;
    cursor: pointer;
    margin-top: 10px;
    height: 60px;
    padding: 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-left: 2px solid #30dfc8;
    border-radius: 5px;
}

.accordion:hover {
    background-color: #173179;
}
.active {
    background-color: #173179;
}
.accordion-icon {
    vertical-align: center;
    float: right;
}
.accordion:after {
    color: #30dfc8;
    font-size: 25px;
    float: right;
    margin:auto;
  }
  
  .active:after {
    color: #30dfc8;
    font-size: 32px;
  }

.panel {
    padding: 15px;
    height:0;
    /* max-height: 550px; */
    transition: height 0.2s ease-out;
    background-color: #173179;
    display: none;
    overflow: hidden;
    z-index: 2;
    border-radius: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.panel-links {
    font-size: 14px;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    /* font-size: 16px; */
    cursor: pointer;
    display: inline-block;  
    font-family: input-mono-narrow, SFMono-Regular, Consolas, Menlo, monospace;
}

.btn:hover {
    color: white;
}

.btn-copy {
    padding: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted #30dfc8; */
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 150px;
    background-color: #173179;
    color: #30dfc8;
    text-align: center;
    padding: 3px 0;
    border-radius: 5px;
    
    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-left: -75px;
    z-index: 1;
}

.tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #173179 transparent transparent transparent;
}


.tooltip:hover .tooltip-text {
    visibility: visible;
}



